*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width: 100px;
}
.logo{
    background-image:url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box2 */
.add-One{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left:15px;
}
.add-Two{
    font-size: 1rem;
    margin-left:4px;
}
.add-icon{
    display: flex;
    align-items:center;
}

/* box3 */
.nav-search{
    display:flex;
    justify-content:space-evenly;
    background-color:pink;
    width: 630px;
    height: 40px;
    border-radius:4px;
}
.search-select{
    background-color:#e6e6e6;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width:100%;
    font-size;1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#feb555;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color:#0f1111;
}
.nav-search:hover{
    border:2px solid orange;
}
/* box4 */
span{
    font-size:0.75rem;
}
.nav-second{
    font-size:0.85rem;
    font-weight:700;
}
/* box 6 */
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight:700;
}
/* panel */
.panel{
    height:40px;
    background-color:#222f3d;
    display:flex;
    color:white;
    align-items:center;
    justify-content:space-evenly;
}
.panel-option p{
    display:inline;
    margin-left:12px;
}
.panel-option{
    width:90%;
    font-size: 14px;
    font-weight:520;
}
 /* hero-ection */
.hero-section{
    background-image:url("hero_image.jpg");
    background-size: cover;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color:white;
    color:black;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:0.85rem;
    margin-bottom: 120px;;
}
.hero-msg a{
    color:#08d2f6;
}
/* shop-section */
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-image:url("hero_image.jpg") ;
    /* background-color:rgba(106, 106, 250, 0.97); */
}
.box{
    /* border:2px solid black; */
    height:400px;
    width:23%;
    background-color:white;
    padding:20px 0px 15px;
    margin-top:15px;
}
.box1-img{
    height:300px;
    background-size:cover;
    margin-top:1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
.box-content p{
    color:#08d2f6;
}

/* footer */
footer{
    margin-top:20px;
}
.foot-panel1{
    background-color: #37475a;
    color:white;
    height:50px;
    font-size:0.86rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color:#222f3d;
    color:white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top:20px;;
}
ul a{
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#dddddd;
}
ul p{
    font-weight:700;
}
.foot-panel3{
    background-color: #222f3d;
    color:white;
    border:0.5px solid white; 
    height:70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    background-image:url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}
.foot-panel4{
    background-color: #0f1111;
    color:white;
    height:80px;
    font-size: 0.7rem;
    text-align:center;
    /* display: flex;
    justify-content: center;
    align-items: center;    */
}
.pages{
    padding-top:25px;
}
.copyright{
    padding-top:5px;
}
